@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 142 86% 28%;
    --primary-foreground: 356 29% 98%;
    --sidebar-primary: 142 86% 28%;
    --sidebar-primary-foreground: 356 29% 98%;

    --background-over: 144.9 80.4% 10%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --sidebar-border: 240 3.7% 15.9%;

    --input: 240 3.7% 15.9%;

    --ring: 142 86% 28%;
    --sidebar-ring: 142 86% 28%;

    --chart-1: 142 88% 28%;
    --chart-2: 139 65% 20%;
    --chart-3: 140 74% 24%;
    --chart-4: 137 55% 15%;
    --chart-5: 141 40% 9%;
    --novel-highlight-default: #000000;
    --novel-highlight-purple: #3f2c4b;
    --novel-highlight-red: #5c1a1a;
    --novel-highlight-yellow: #5c4b1a;
    --novel-highlight-blue: #1a3d5c;
    --novel-highlight-green: #1a5c20;
    --novel-highlight-orange: #5c3a1a;
    --novel-highlight-pink: #5c1a3a;
    --novel-highlight-gray: #3a3a3a;
    --radius: 0.25rem;

    --elevation-card-rest: 0px -1px 0px 0px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px rgba(255, 255, 255, 0.06), 0px 0px 0px 1px rgba(39, 39, 42, 1), 0px 1px 2px 0px rgba(0, 0, 0, 0.32), 0px 2px 4px 0px rgba(0, 0, 0, 0.32);
    --destructive-best: 0deg 100% 12.28%;
    --destructive-best-foreground: 0deg 100% 70.3%;
    --primary-best: 142deg 30.43% 17.51%;
    --primary-best-foreground: 142deg 100% 46.92%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
.titleBar {
  position: fixed;
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  background-color: hsl(24 9.8% 10%);
  width: env(titlebar-area-width, 100%);
  height: env(titlebar-area-height, 40px);
  app-region: drag;
  -webkit-app-region: drag;
}
.titlebar-button {
  app-region: no-drag;
  -webkit-app-region: no-drag;
}